# Copyright 2023 Nobleo Technology B.V.
#
# SPDX-License-Identifier: Apache-2.0

[submodule "snakes/bots/example"]
	path = snakes/bots/example
	url = git@github.com:nobleans-playground/coding-challenge-snakes-bot-template.git
	branch = main
[submodule "snakes/bots/hein"]
	path = snakes/bots/hein
	url = git@github.com:heinwessels/coding-challenge-snakes-hein.git
	branch = main
[submodule "snakes/bots/felipe"]
	path = snakes/bots/felipe
	url = http://git@git.33kbps.com.ar/fdiniello/not_a_template.git
	branch = main
[submodule "snakes/bots/mahmoud"]
	path = snakes/bots/mahmoud
	url = git@github.com:Mahmoud1922/coding-challenge-snakes-bot.git
	branch = main
[submodule "snakes/bots/jeroen"]
	path = snakes/bots/jeroen
	url = git@github.com:nobleans-playground/wolverine.git
	branch = main
[submodule "snakes/bots/jonothan"]
	path = snakes/bots/jonothan
	url = git@github.com:JonathanGevers/coding-challenge-snakes.git
	branch = main
[submodule "snakes/bots/lewie"]
	path = snakes/bots/lewie
	url = git@github.com:lewie-donckers/coding-challenge-snakes-bot.git
	branch = main
[submodule "snakes/bots/bram"]
	path = snakes/bots/bram
	url = git@github.com:Vidicon/coding-challenge-slytherin.git
	branch = main
