# Copyright 2023 Nobleo Technology B.V.
#
# SPDX-License-Identifier: Apache-2.0

[submodule "snakes/bots/example"]
	path = snakes/bots/example
	url = git@github.com:nobleans-playground/coding-challenge-snakes-bot-template.git
[submodule "snakes/bots/hein"]
	path = snakes/bots/hein
	url = git@github.com:heinwessels/coding-challenge-snakes-hein.git
[submodule "snakes/bots/felipe"]
	path = snakes/bots/felipe
	url = http://git@git.33kbps.com.ar/fdiniello/not_a_template.git
